*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    padding: 6px 28px;
    border-radius: 6px;
    border-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight: 450;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo,
.hero-main-text,
.call-main,
button {
    color: #f9faf8;
}

.logo,
.call-main {
    font-weight: 500;
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 22px;
}

.header ul li a {
    text-decoration: none;
}

.hero-container,
.footer {
    background-color: #1f2937;
}

.hero-sub-text,
.footer,
.call-sub,
.header ul li a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    padding: 16px 128px;
}

.hero-content {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.hero-img {
    width: 500px;
    height: 200px;
    background-color: gray;
}

.hero-text {
    width: 500px;
    margin-right: 24px;
}

.hero-main-text,
.hero-sub-text,
.hero-sign-up {
    margin-bottom: 12px;
}

.hero-main-text,
.card-title {
    font-weight: 800;
}

.hero-main-text {
    font-size: 48px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 64px;
}

.card-title, 
.quote-main {
    color: #1F2937;
    font-size: 36px;
}

.card-title {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    gap: 28px;
    flex: auto;
}

.card {
    width: 150px;
}

.card-img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #3882f6;
    margin-bottom: 8px;
}

.card-text {
    color: #3f3f3f;
    text-align: center;
}

.quote-container {
    padding: 90px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    width: 780px;
}

.quote-main {
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    color: #1F2937;
    font-weight: 800;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.call-container {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-modal {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 36px 80px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

.call-text {
    flex: content;
    flex-grow: 0;
}

.call-button {
    outline: solid 2px white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}